@import "../App";
@import "../utils/ratio";

.carousel {
  &[data-theme="dark"] {
    color: color(white);
    background-color: color(black);
  }
  &__container {
    overflow: hidden;
  }
  &__swiper {
    overflow: visible;
    .swiper-button-prev,
    .swiper-button-next {
      top: initial;
      bottom: 101px;
      width: 62px;
      height: 52px;
      &:after {
        @include mx-text-gradient;
        font-family: font(code);
        font-size: 3.2em;
        line-height: 1;
      }
      @include mq(md) {
        top: 0;
        bottom: 0;
        margin: auto 0;
      }
    }
    .swiper-button-prev {
      left: 0;
      &:after {
        content: '<';
      }
    }
    .swiper-button-next {
      right: 0;
      &:after {
        content: '/>';
      }
    }
  }
  &__slide {
    height: auto;
  }
  &__grid {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background-color: color(white);
    .carousel[data-theme="dark"] & {
      background-color: color(black);
    }
    @include mq(md) {
      grid-template-columns: 1fr 1fr;
      width: calc(100% - 164px);
      margin: 0 auto;
    }
    &-item {
      @include mq(md) {
        &.--typ {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 $gutter-2;
        }
      }
      &-title {
        @include mx-text-gradient;
        display: inline-block;
        align-self: flex-start;
        margin: 0 0 0.5em;
      }
      &-picture {
        height: 248px;
        @include mq(md) {
          height: initial;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &-img {
        width: 100px;
        height: auto;
        right: 0;
        bottom: 0;
        margin: auto;
        @include mq(md) {
          width: 150px;
          max-width: initial;
        }
      }
    }
  }
}