@import "../core/vars";
@import "../core/mixins";
@import "../utils/ratio";

.contained-carousel__container {
  overflow: hidden;
}

.contained-carousel__title-primary {
  @include mx-text-gradient;
  margin: 0 0 section-padding(mobile);
  @include mq(md) {
    margin: 0 0 section-padding(desktop);
  }
}

.contained-carousel__swiper {
  overflow: visible;
  .swiper-button-prev,
  .swiper-button-next {
    top: initial;
    bottom: 18px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: color(black);
    &:after {
      content: '';
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  .swiper-button-prev {
    left: -15px;
    &:after {
      background-image: url("../../img/swiper/pointer-left-outline.svg");
    }
  }
  .swiper-button-next {
    right: -15px;
    &:after {
      background-image: url("../../img/swiper/pointer-right-outline.svg");
    }
  }
  @include mq(md) {
    .swiper-button-prev,
    .swiper-button-next {
      top: 0;
      bottom: 0;
      margin: auto 0;
      transition: transform $tr-base;
    }
    .swiper-button-prev {
      &:hover {
        transform: translateX(-10px);
      }
    }
    .swiper-button-next {
      &:hover {
        transform: translateX(10px);
      }
    }
  }
}

.contained-carousel__slide {
  height: auto;
  &-row {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 $gutter-2;
    &.-logo {
      align-items: center;
      margin: auto 0 0;
    }
  }
  @include mq(md) {
    &-row {
     flex-direction: row;
      margin: 0 $gutter-1-negative;
    }
    &-col {
      width: 50%;
      &.-typ {
        padding: 0 $gutter-1 0 $gutter-10;
      }
      &.-logo {
        padding: 0 $gutter-10 0 $gutter-1;
        margin: initial;
      }
    }
  }
}

.contained-carousel__svg {
  width: 100%;
  max-width: 100px;
  flex: 1;
  padding: 0 $gutter-1;
  @include mq(md) {
    width: 150px;
    max-width: initial;
  }
}

.contained-carousel__title-primary {
  text-align: center;
}

.contained-carousel__title-secondary {

}