@import "src/scss/App";
@import "../utils/ratio";

.contained-carousel {
  &:nth-child(odd) {
    color: color(white);
    background-color: color(black);
  }
  &__container {
    overflow: hidden;
  }
  &__title-wrapper {
    text-align: center;
    margin: 0 0 section-padding(mobile);
    @include mq(md) {
      margin: 0 0 section-padding(desktop);
    }
  }
  &__title-primary {
    @extend %ex-gradient-underline-text;
    display: inline-block;
    margin: 0 auto;
    &:after {
      margin: 4px auto 0;
    }
  }
  &__swiper {
    overflow: visible;
    .swiper-button-prev,
    .swiper-button-next {
      top: initial;
      bottom: 18px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      color: color(black);
      .contained-carousel:nth-child(odd) & {
        color: color(white);
      }
      &:after {
        @include mx-text-gradient;
        font-family: font(code);
        line-height: 1;
      }
      @include mq(md) {
        top: 0;
        bottom: 0;
        margin: auto 0;
      }
    }
    .swiper-button-prev {
      &:after {
        content: '<';
      }
    }
    .swiper-button-next {
      &:after {
        content: '/>';
      }
    }
  }
  &__slide {
    height: auto;
    background-color: color(white);
    .contained-carousel:nth-child(odd) & {
      background-color: color(black);
    }
    &-row {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    &-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 $gutter-2;
      &.--logo {
        align-items: center;
        justify-content: center;
        margin: auto 0 0;
      }
    }
    @include mq(md) {
      &-row {
        flex-direction: row;
        margin: 0 $gutter-1-negative;
      }
      &-col {
        width: 50%;
      }
    }
  }
  &__title-secondary {
    @include mx-text-gradient;
    align-self: flex-start;
  }
  &__img {
    width: 100%;
    max-width: 100px;
    flex: 1;
    padding: 0 $gutter-1;
    @include mq(md) {
      width: 150px;
      max-width: initial;
    }
  }
}