@import "../App";

.form {
  &__container {
    overflow: hidden;
  }
  &__title-wrapper {
    text-align: center;
  }
  &__title {
    @extend %ex-gradient-underline-text;
    @include mx-section-margin-bottom;
    display: inline-block;
    &:after {
      margin: 4px auto 0;
    }
  }
  &__intro {
    @include mx-section-margin-bottom;
    text-align: left;
  }
  &__form {
    width: 100%;
    max-width: 600px;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }
  &__fields-wrapper {
    display: flex;
    gap: 0 20px;
    &.--btn {
      justify-content: right;
    }
  }
  &__field-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
  }
  &__label {
    display: block;
    text-align: left;
  }
  &__field {
    width: 100%;
    //margin: 0 0 10px;
    border: 2px solid color(black);
    border-radius: 0;
    padding: 10px;
    outline: none;
    transition: border-color $tr-base;
    &:hover {
      border-color: color(orange);
    }
    &:focus {
      border-color: color(pink);
    }
  }
}