@import "../App";

.form {
  margin: section-padding(mobile) 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  @include mq(sm) {
    gap: 20px 0;
  }
  &__fields-wrapper {
    display: flex;
    flex-direction: column;
    &.--btn {
      justify-content: right;
      flex-direction: row;
      gap: 0 20px;
    }
    @include mq(sm) {
      flex-direction: row;
      gap: 0 20px;
    }
  }
  &__field-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
  }
  &__label {
    display: block;
    text-align: left;
  }
  &__field {
    width: 100%;
    border: 2px solid color(black);
    border-radius: 0;
    padding: 10px;
    outline: none;
    margin: 0 0 20px;
    transition: border-color $tr-base;
    &:hover {
      border-color: color(orange);
    }
    &:focus {
      border-color: color(pink);
    }
    @include mq(sm) {
      margin: initial;
    }
  }
  &__submit-wrapper {
    font-weight: font-weight(semibold);
    border: 3px solid;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    position: relative;
    transition: border-color $tr-base; 
    &:hover {
      border-color: color(pink);
    }
  }
  &__submit {
    color: color(black);
    font-size: 1rem;
    text-transform: uppercase;
    padding: 7px 58px 8px 20px;
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 1;
    transition: color $tr-base;
    .form__input-wrapper:hover & {
      cursor: pointer;
      color: color(pink);
    }
    &-icon {
      position: absolute;
      top: auto;
      right: 20px;
      bottom: auto;
      left: auto;
      margin: auto 0 auto auto;
      transition: color $tr-base;
      .form__submit-wrapper:hover & {
        color: color(pink);
      }
    }
  }
}