@import "../App";

.form {
  width: 100%;
  max-width: 600px;
  margin:  0 auto;
  display: flex;
  flex-direction: column;
  @include mq(sm) {
    gap: 20px 0;
  }
  &__fields-wrapper {
    display: flex;
    flex-direction: column;
    &.--btn {
      justify-content: right;
      flex-direction: row;
      gap: 0 20px;
    }
    @include mq(sm) {
      flex-direction: row;
      gap: 0 20px;
    }
  }
  &__field-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
  }
  &__label {
    display: block;
    text-align: left;
  }
  &__field {
    width: 100%;
    border: 2px solid color(black);
    border-radius: 0;
    padding: 10px;
    outline: none;
    margin: 0 0 20px;
    transition: border-color $tr-base;
    &:hover {
      border-color: color(orange);
    }
    &:focus {
      border-color: color(pink);
    }
    @include mq(sm) {
      margin: initial;
    }
  }
}