@import "src/scss/App";

.image-and-content {
  display: flex;
  flex-direction: column;
  background-color: color(black);
  @include mq(md) {
    flex-direction: row;
    min-height: calc(100vh - 59px);
  }
  &__img-wrapper,
  &__content-wrapper {
    @include mq(md) {
      width: 50%;
    }
  }
  &__content-wrapper {
    @include mx-section-padding;
    max-width: 570px;
    padding-right: $gutter-4;
    padding-left: $gutter-4;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__picture {
    display: block;
    position: relative;
    padding-top: 100%;
    @include mq(md) {
      height: 100%;
      padding: initial;
    }
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title,
  &__content {
    color: color(white);
  }
  &__title {
    @extend %ex-gradient-underline-text;
    font-size: 6em;
    line-height: 1;
    margin: 0 0 section-padding(mobile);
    &:after {
      margin: 9px auto 0;
    }
    &-overline {
      font-size: 0.5em;
      display: block;
      margin: 0 auto 2px;
    }
  }
  &__content {
    margin: 0 0 section-padding(mobile);
  }
  &__cv-btn.btn {
    margin: 0 $gutter-1 0 0;
    display: none;
    svg {
      margin: 0 $gutter-1 0 0;
    }
  }
}