@import "../App";
@import "../utils/ratio";

.intro {
  .carousel & {
    padding: 0;
  }
  .carousel:nth-child(odd) & {
    color: color(white);
  }
  &__container {
    text-align: center;
  }
  &__title {
    @extend %ex-gradient-underline-text;
    @include mx-section-margin-bottom;
    display: inline-block;
    &:after {
      margin: 4px auto 0;
    }
  }
  &__description {
    text-align: left;
    margin: 0;
    .carousel & {
      @include mx-section-margin-bottom;
    }
  }
}