@import "../App";
@import "../utils/ratio";

.intro {
  &[data-theme="dark"] {
    color: color(white);
    background-color: color(black);
  }
  &__container {
    text-align: center;
  }
  &__title {
    @extend %ex-gradient-underline-text;
    @include mx-section-margin-bottom;
    display: inline-block;
    clip-path: inset(100% 0% 0% 0%);
    &:after {
      margin: 4px auto 0;
    }
  }
  &__description {
    text-align: left;
    margin: 0;
    opacity: 0;
    visibility: hidden;
  }
}