%btn,
%btn-text {
  border: none;
  background: transparent;
  margin: 0;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    cursor: pointer;
  }
}

%btn-text {
  text-decoration: none;
}

.btn {
  @extend %btn;
  &.--btn-light,
  &.--btn-dark {
    padding: 0.5em 1.4em;
    min-height: 44px;
    font-weight: font-weight(semibold);
    border: 3px solid;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    text-decoration: none;
    transition: color $tr-base, border-color $tr-base, background-color $tr-base;
    svg {
      height: 16px;
    }
  }
  &.--btn-light {
    color: color(blueGrey);
    border-color: color(blueGrey);
    background-color: color(black);
    &:hover,
    &:hover i {
      color: color(white);
      border-color: color(white);
      background-color: color(black);
    }
  }
  &.--btn-dark {
    color: color(black);
    border-color: color(black);
    background-color: color(white);
    &:hover,
    &:hover i {
      color: color(white);
      border-color: color(white);
      background-color: color(black);
    }
  }
}
