@import "vars";

//Media queries
@mixin mq($mq-breakpoint, $mq-breakpoints: $breakpoints) {
  // If $mq-breakpoint is a key that exists in
  // $mq-breakpoints, get and use the value
  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
  }

  @media screen and (min-width: #{$mq-breakpoint}) {
    @content;
  }
}

//Section padding
@mixin mx-section-padding {
  padding-top: section-padding(mobile);
  padding-bottom: section-padding(mobile);
  @include mq(md) {
    padding-top: section-padding(desktop);
    padding-bottom: section-padding(desktop);
  }
}

@mixin mx-section-padding-top {
  padding-top: section-padding(mobile);
  @include mq(md) {
    padding-top: section-padding(desktop);
  }
}

//Gradients
$linear-gradient: linear-gradient(to right, color(orange), color(pink));
$linear-gradient-alt: linear-gradient(to right, color(green), color(blue));
$linear-gradient-black: linear-gradient(to right, color(black), color(black));
$linear-gradient-pink: linear-gradient(to right, color(pink), color(pink));
$linear-gradient-reverse: linear-gradient(to right, color(pink), color(orange));
$linear-gradient-btn: linear-gradient(to right, color(pink), color(orange), color(pink));

@mixin mx-text-gradient {
  background-image: $linear-gradient;
  background-color: initial;
  text-fill-color: transparent;
  text-shadow: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin mx-text-gradient-alt {
  background-image: $linear-gradient-alt;
  background-color: initial;
  text-fill-color: transparent;
  text-shadow: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin mx-text-gradient-black {
  background-image: $linear-gradient-black;
  background-color: initial;
  text-fill-color: transparent;
  text-shadow: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin mx-text-gradient-pink {
  background-image: $linear-gradient-pink;
  background-color: initial;
  text-fill-color: transparent;
  text-shadow: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin mx-text-gradient-reverse {
  background-image: $linear-gradient-reverse;
  background-color: initial;
  text-fill-color: transparent;
  text-shadow: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin mx-gradient-border-bottom-nav {
  position: relative;
  background: $linear-gradient;
  padding: 0 0 3px 0;
}
