//Colors
$color: (
        white: #ffffff,
        black: #000000,
        lightGrey: #cccccc,
        grey: #4c4c4c,
        blueGrey: #7c7f8d,
        orange: #e67c00,
        pink: #da1b60,
        green: #0bda56,
        blue: #099496,
);

@function color($colorName) {
  @return map-get($color, $colorName);
}

//Section padding
$section-padding: (
        mobile: 40px,
        desktop: 80px
);

@function section-padding($padding) {
  @return map-get($section-padding, $padding)
}

///Gutters
$gutter-1: 10px;
$gutter-1-negative: 10px * -1;
$gutter-2: $gutter-1 * 2;
$gutter-3: $gutter-2 * 2;

//Spacers
$sp-1: 12px;

//Breakpoints
$breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

//Container
$ctr-max-width: 1140px;

//Transitions
$tr-base-duration: 300ms;
$tr-base-timing: cubic-bezier(.75,.89,.92,.99);
$tr-base: $tr-base-duration $tr-base-timing;

//Fonts
$font: (
        primary: #{'Open Sans', sans-serif},
        secondary: #{'Source Code Pro', monospace}
);

@function font($fontName) {
  @return map-get($font, $fontName);
}

$weight: (
        regular: 400,
        semiBold: 600,
        bold: 700
);

@function font-weight($weightName) {
  @return map-get($weight, $weightName);
}

$fs-base: 16px;

//HeaderElement
$hdr-height-m: 55px;
$hdr-height-d: 67px;

$hdr-font-size-m: 24px;
$hdr-font-size-d: 16px;

//Z index
$zIndex: (
  modal: 3,
  header: 2,
  default: 1
);

@function zIndex($index) {
@return map-get($zIndex, $index);
}