@import "../App";

.brand-text {
  //Logo btn
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: color(white);
  padding: 6px 20px;
  border-bottom: 3px solid color(black);
  z-index: zIndex(default);
  @include mq(md) {
    display: initial;
    width: initial;
    align-items: initial;
    justify-content: initial;
    background-color: initial;
    padding: initial;
    border-bottom: 0;
    z-index: initial;
  }
  &__logo-link {
    display: flex;
    padding: 0;
    position: relative;
    text-decoration: none;
    &-text,
    &:after {
      font-family: font(code);
      font-weight: font-weight(regular);
      font-size: 22px;
      line-height: (25 / 22);
      text-transform: initial;
      padding: 0;
      margin: 0;
      transition: visibility $tr-base, clip-path $tr-base;
      @include mq(md) {
        font-size: 32px;
        margin: -4px 0 0;
      }
    }
    &-text {
      @include mx-text-gradient;
      position: relative;
    }
    &:after {
      content: '<RoryGrignard />';
      display: none;
      color: color(black);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: zIndex(default);
      visibility: hidden;
      clip-path: inset(100% 0% 0% 0%);
      @include mq(md) {
        display: block;
      }
    }
    &:hover {
      cursor: pointer;
      &-text {
        visibility: hidden;
        clip-path: inset(0% 0% 100% 0%);
      }
      &:after {
        visibility: visible;
        clip-path: inset(0% 0% 0% 0%);
      }
    }
  }
  //Burger btn
  &__burger-btn {
    @extend %btn;
    padding: 0;
    width: 40px;
    height: 40px;
    position: relative;
    &-icon {
      @include mx-text-gradient;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      &.--burger,
      &.--close {
        transition: clip-path $tr-base;
      }
      &.--burger {
        color: color(pink);
        clip-path: inset(0 0 0 0);
        transition-delay: $tr-base-duration;
      }
      &.--close {
        color: color(black);
        clip-path: inset(0 100%0 0);
      }
      .--mobile-nav-visible & {
        &.--burger {
          transition-delay: 0ms;
          clip-path: inset(0 0 0 100%);
        }
        &.--close {
          clip-path: inset(0 0 0 0);
          transition-delay: $tr-base-duration;
        }
      }
    }
    @include mq(md) {
      display: none;
    }
  }
}