@import "src/scss/App";

.header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: color(white);
  z-index: zIndex(header);
  @include mq(md) {
    border-bottom: 3px solid color(black);
    padding: 12px 0;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    @include mq(md) {
      align-items: initial;
      padding: 0 $gutter-4;
    }
  }
}
