@import "../App";

.navigation {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  height: calc(100% - 55px);
  visibility: hidden;
  clip-path: inset(0 0 100% 0);
  transition: visibility $tr-base, clip-path $tr-base;
  .--mobile-nav-visible & {
    visibility: visible;
    clip-path: inset(0 0 0 0);
  }
  @include mq(md) {
    position: initial;
    top: initial;
    left: initial;
    width: initial;
    height: initial;
    visibility: visible;
    clip-path: initial;
    transition: initial;
  }
  &__list{
    display: flex;
    padding: 55px 0;
    margin: auto 0;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: color(black);
    @include mq(md) {
      flex-direction: row;
      padding: 0;
      background-color: initial;
    }
  }
  &__item {
    list-style: none;
    display: flex;
    margin: 0 0 $gutter-1 0;
    &:last-child {
      margin: 0;
    }
    @include mq(md) {
      margin: 0 $gutter-2 0 0;
    }
    @include mq(lg) {
      margin: 0 $gutter-4 0 0;
    }
  }
  &__link {
    display: flex;
    width: 100%;
    padding: $gutter-1 $gutter-4;
    position: relative;
    text-decoration: none;
    @include mq(md) {
      width: initial;
      padding: 0;
    }
    &-text,
    &-clone {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: font(base);
      font-size: 24px;
      line-height: (27 / 24);
      font-weight: font-weight(bold);
      text-transform: uppercase;
      color: color(white);
      transition: visibility $tr-base, clip-path $tr-base;
      padding: 2px 0;
      @include mq(md) {
        font-size: 16px;
        line-height: (19 / 16);
        color: color(black);
      }
    }
    &-text {
      visibility: visible;
      clip-path: inset(0% 0% 0% 0%);
      .navigation__link.active &,
      .navigation__link:hover & {
        visibility: hidden;
        clip-path: inset(0% 0% 100% 0%);
      }
    }
    &-clone {
      background-image: $linear-gradient;
      background-color: initial;
      text-fill-color: transparent;
      text-shadow: none;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: zIndex(default);
      visibility: hidden;
      clip-path: inset(100% 0% 0% 0%);
      .navigation__link.active &,
      .navigation__link:hover & {
        visibility: visible;
        clip-path: inset(0% 0% 0% 0%);
      }
    }
  }
}