@import "vars";
@import "mixins";
@import "layout";

.header {
  background-color: color(white);
  border-bottom: 3px solid color(black);
}

.header__logo-button {
  transition: opacity $tr-base;
  &:hover {
    opacity: .6;
  }
}

.header__logo-text {
  @include mx-text-gradient;
  font-family: font(secondary);
  font-weight: weight(semiBold);
  font-size: 22px;
  @include mx-mq(md) {
    font-size: 32px;
  }
}

.header__nav {
  @include mx-mq(md) {

  }
}

.header__nav-list {

}

.header__nav-button {
  //list-style: none;
  border-bottom: 2px solid color(black);
  @include mx-mq(md) {
    border-bottom: none;
    margin: 0 $gt-1 0 0;
    &:last-child {
      margin: 0;
    }
  }
}

.header__nav-link {
  text-transform: uppercase;
  font-weight: weight(bold);
  font-family: font(primary);
  color: color(black);
  background-color: color(white);
  span {
    padding-bottom: 12px;
    display: inline-block;
    i {
      font-style: normal;
    }
  }
}