@import "core/vars";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: color(white);
  margin: 0;
}

main {
  padding: $hdr-height-m 0 0;
  @include mq(md) {
    padding: $hdr-height-d 0 0;
  }
}

section,
footer {
  &:not(.image-and-content) {
    @include mx-section-padding;
  }
}

[class*="container"] {
  @include mx-container;
}